@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-dark-color: #000000;
  --primary-lite-color: #ffffff;
  --primary-adress-color: rgba(255, 255, 255, 0.6);
  --background-team-color: #f5f4fa;
  --background-hero-color: #2f303a;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  /*при ФИСКИРОВАННОМ ХЭДЕРЕpadding-top: 80px;*/
  background-color: var(--primary-lite-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.img,
.images {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Logo*/
.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--primary-dark-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo:hover {
  color: var(--primary-dark-color);
}

.logo-accent {
  color: var(--accent-color);
}

.footer-logo {
  color: var(--primary-lite-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}

.footer-logo:focus {
  color: var(--primary-lite-color);
}

/*SECTION-TITLE*/
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

/*THE SAME BUTTON*/
.button {
  color: var(--primary-lite-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  padding: 10px 30px;
  min-width: 200px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-button {
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  background-color: #188ce8;
}

.footer-button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}

/*Text*/
.text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*SOCIAL-LIST-LINKS*/
.social-list-link,
.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item,
.footer-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link:hover,
.social-list-link:focus,
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-icon,
.footer-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover .footer-list-icon,
.footer-list-link:focus .footer-list-icon {
  fill: #ffffff;
  cursor: pointer;
}

/*HEADER*/
.page-header .container {
  display: flex;
  align-items: center;
}

.page-header {
  /*position: fixed; ДЕЛАЕТ ФИКСИРОВАН ХЭДЕР*/
  min-height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-lite-color);
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  height: 80px;
  text-align: center;
}

/*Adress*/
.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.contacts-item {
  display: flex;
  text-align: center;
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.footer-map:focus,
.footer-map:hover,
.footer-link:hover,
.footer-link:focus,
.link:hover,
.link:focus,
.mail-link:hover,
.mail-link:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.link-current {
  display: block;
  text-decoration: none;
  color: currentColor;
  position: relative;
}

.link-current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts-item .mail-link {
  margin-left: auto;
}

.header-icon {
  display: flex;
  fill: currentColor;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-size: contain;
}

.mail-link {
  display: flex;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.link-tel {
  display: flex;
  height: 100%;
  cursor: pointer;
  align-items: center;
}

/*Site nav*/
.site-nav {
  display: flex;
  width: 294px;
  text-align: center;
  align-items: center;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-current,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav-list .link-current,
.logo-accent {
  color: var(--accent-color);
}

.link,
.link-current {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*hero*/
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-hero-color);
}

.title {
  color: var(--primary-lite-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
}

/*МОДАЛЬНОЕ ОКНО*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotate(-360deg);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 40px;
  z-index: 1000;
  vertical-align: center;
}

.close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clients-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  display: inline-block;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  align-items: Center;
  text-align: center;
  color: #212121;
}

.input-form-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 448px;
  margin-bottom: 10px;
}

.input-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  text-align: left;
  color: #757575;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 12px 11px 40px;
  height: 40px;
  width: 100%;
  transition: color 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal-icon-input {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  height: 120px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  text-align: Left;
  vertical-align: Top;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:hover,
.modal-textarea:hover {
  cursor: pointer;
  border: 1px Solid #2196f3;
  fill: #2196f3;
}

.input-name:hover .modal-input,
.input-name:focus .modal-input {
  cursor: pointer;
  color: #2196f3;
}

.modal-input:focus ~ .modal-icon-input,
.modal-input:hover ~ .modal-icon-input,
.close-icon:hover {
  fill: #2196f3;
  cursor: pointer;
}

/*CHECKBOX*/
.checkbox {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  margin-bottom: 30px;
  width: 423px;
  height: 24px;
}

.checkbox-link {
  display: inline-block;
  color: #2196f3;
  text-decoration: underline;
  font-family: Roboto;
  font-style: Regular;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
}

.checkbox-label {
  padding-left: 1.5em;
  display: flex;
  text-align: center;
  align-items: center;
}

.checkbox-input {
  position: absolute;
  /*прячет стили для чеков от браузера*/
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-box {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -1.5em;
  background-origin: border-box;
  align-self: center;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0z' fill='%23212121'/%3E%3C/svg%3E");
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .check-box {
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
}

.checkbox-input:focus + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0z' fill='%23212121'/%3E%3C/svg%3E");
  cursor: pointer;
}

.checkbox-input:checked:focus + .check-box {
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.957 7.752l-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
}

.checkbox-input:focus + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0z' fill='%23212121'/%3E%3C/svg%3E");
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  border: 2px solid #2196f3;
  border-radius: 2px;
}

/*advanteges*/
.advantages-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-advant {
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-transform: uppercase;
}

.title-description {
  max-width: 270px;
  height: 75px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.section-title-li:not(:last-child) {
  width: 270px;
  margin-right: 30px;
}

.section-title-list {
  display: flex;
  justify-content: space-between;
}

.title-advant::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronavt::before {
  background-image: url(../images/astronaut.svg);
}

/* CAPABILITIES section*/
.capabilities-section {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}

.capabilities-flex {
  display: flex;
  justify-content: space-between;
}

.capabilities-flex-item {
  width: 370px;
  position: relative;
}

.capabilities-flex-item:not(:last-child) {
  margin-right: 30px;
}

.box-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.box-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

/*Team*/
.team-section {
  background-color: var(--background-team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-section .container {
  align-items: center;
}

.team-flex {
  display: flex;
  align-items: center;
}

.team-flex-item {
  text-align: center;
  width: 270px;
  border: 1px solid #ffffff;
  background-color: var(--primary-lite-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 0px 0px 4px 4px;
}

.team-flex-item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;
  height: 168px;
  padding: 30px 32px;
  text-align: center;
}

.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.card-text {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0;
}

/* REGULAR CUSTOMERS*/
.customer-section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.customer-list-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list-link:hover,
.customer-list-link:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.customer-list-link:hover .customer-list-icon,
.customer-list-link:focus .customer-list-icon {
  fill: #2196f3;
}

.customer-list-item {
  width: 170px;
  height: 90px;
}

.customer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #afb1b8;
}

.customer-list-icon {
  fill: #afb1b8;
}

/*Footer*/
.footer-page {
  background-color: var(--background-hero-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-item {
  align-items: baseline;
}

.footer-adress {
  display: flex;
  flex-direction: column;
}

.footer-adress .footer-map {
  color: var(--primary-lite-color);
  font-style: normal;
}

.footer-link {
  color: var(--primary-adress-color);
  font-style: normal;
}

.footer-social-links {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-text {
  margin-bottom: 20px;
  text-align: start;
  height: 16px;
  text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.footer-submit {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer-submit-form {
  display: flex;
}

.footer-input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-icon {
  margin-left: 10px;
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */