/*indexhtml стили */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
color studiobackground: #000000;

color text: #212121;
tel: #757575;
#F5F4FA; - background наша команда
footer tel email color: rgba(255, 255, 255, 0.6);

*/

/*COMPONENTS*/

/*portfolio стили */
